@page {
    size: landscape;
}

body {
    color: #4a4a4a;
    font-family: Arial;
    font-size: 0.55em;
    font-weight: 300;
    line-height: 1.0;
}

.titlef {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.125;
}

.subtitlef {
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.125;
}

.subtitleff {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.125;
}

.is-lined {
    border: 1px solid black;
}

.square { height: 250px;}

.squaree { height: 297.5px;}

.custom_table, .custom_table tr, .custom_table td{border: none !important;}
